:root {
    --dark-purple: rgb(50, 2, 101); /* Base dark color */
    --dark-yellow: rgb(159, 7, 136); /* Deep purple/blue */
    --rich-pink: rgb(17, 19, 23); /* Dark shade for contrast */
    --background-gradient: linear-gradient(90deg, var(--dark-yellow) 0%, var(--dark-purple) 100%);
    --button-bg-color: #BB86FC; /* Neon Purple for buttons */
    --button-hover-bg-color: #A370F7; /* A slightly darker shade for hover effect */
    --text-color: #ffffff; /* White for high contrast */
    --link-color: var(--rich-pink);
    --link-hover-color: rgb(0, 3, 7); /* Darker shade for hover effect */
    --container-bg-color: #451252c0; /* Darker Neon Purple for containers */
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.25); /* Strong shadow for 3D effect */
    --second-bg-color: linear-gradient(to right, #BB86FC, #6200EE);
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #350548 0%, #fa20ec 100%);
    color: var(--text-color);
}

.topbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 20px;
    width: 90%;
    
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    
    background: rgba(0, 0, 0, 0.585); /* Slightly transparent black */
    color: #f8eccb; /* Amber for contrast */
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#averageRating{
    margin: 30px;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1500px;
    margin: 20px auto;
    padding: 40px 20px;
    backdrop-filter: blur(50px);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.8); /* Slightly transparent black */
    color: #FFC107; /* Amber for contrast */
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.movie-container h1, .movie-container h2 {
    color: #00FFFF;
}

.movie-container img {
    display: block;
    max-width: 40%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 15px;
}

.movieinfo p {
    margin: 10px 0;
    color: #FFC107;
}

.homebtn, .profilebtn {
    color: #f4edd8e3;
    text-decoration: none;
    transition: color 0.3s ease;
}

.homebtn{
    font-size: 24px;
    margin-left: 50px;
}


.profilebtn{
    max-width: 20%;
    height: auto;
    margin-top: 20px;

}

#ratingForm {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#ratingForm button, #addToTop10, #addToTop5, #addToWishlist, #submitr, #textButton {
    background-color: transparent;
    color: #FFC107;
    padding: 10px 20px;
    border: 2px solid #FFC107;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
}

#ratingForm button:hover, #addToTop10:hover, #addToTop5:hover, #addToWishlist:hover, #submitr:hover, #textButton:hover {
    background-color: #00FFFF; /* Neon blue */
    color: #303030;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.movieinfo {
    background: rgba(0, 0, 0, 0.8); /* Slightly transparent black */
    color: #FFC107; /* Amber for contrast */
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    max-width: 50%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    
}

.movie-content{
    background: rgba(0, 0, 0, 0.8); /* Slightly transparent black */
    color: #FFC107; /* Amber for contrast */
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 50px 100px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;


    text-align: center;
    
     
}




#cast-container h2 {
    color: #fff; /* Example color */
    margin-bottom: 15px;
}


#director-container h2 {
    color: #fff; /* Example color */
    margin-bottom: 15px;
}





.movie-content header{
    font-size: 24px;
    color: #f9f3e0;
}

.twomain{
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
    margin-bottom: 50px;
}

.movie-content img{
    max-width: 80%;
    height: auto;
    margin-top: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.cast-image-container img {
    max-width: 10vw; /* Example: 20% of the viewport width */
    height: auto;
    border-radius: 10px;
}




/* Responsive margins and font sizes using media queries */
@media (max-width: 768px) {
    .cast-image-container img {
        max-width: 30vw; /* Larger percentage for smaller screens */
    }

    .cast-name {
        font-size: 4vw; /* Larger text on smaller screens */
    }
}



.director-image-container img {
    max-width: 10vw; /* Example: 20% of the viewport width */
    height: auto;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .director-image-container img {
        max-width: 30vw; /* Larger percentage for smaller screens */
    }

    .director-name {
        font-size: 4vw; /* Larger text on smaller screens */
    }
}

#cast-container {
    
    border-radius: 8px;
    
    display: flex;
    flex-direction: column; /* Keeps the cast members stacked vertically */
    gap: 20px; /* Adds space between cast members */
    max-height: 1000px; /* Maximum height of the container before scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal overflow */
    width: 100%; /* Ensures the container fills its parent */
    max-width: 600px; /* Optional: constrain max width for larger screens */
    margin-left: auto; /* Centering the container */
    margin-right: auto;
    padding-top: 10px; /* Reduced padding at the top */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.638);/* Slightly transparent black */
    color: #FFC107; /* Amber for contrast */
    
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


#director-container {
    
    border-radius: 8px;
    
    display: flex;
    flex-direction: column; /* Keeps the cast members stacked vertically */
    gap: 20px; /* Adds space between cast members */
    max-height: 1000px; /* Maximum height of the container before scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal overflow */
    width: 100%; /* Ensures the container fills its parent */
    max-width: 600px; /* Optional: constrain max width for larger screens */
    margin-left: auto; /* Centering the container */
    margin-right: auto;
    padding-top: 10px; /* Reduced padding at the top */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.638);/* Slightly transparent black */
    color: #FFC107; /* Amber for contrast */
    
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cast-member:first-child {
    margin-top: 0; /* Removes extra margin from the first cast member if any */
}



.cast-image-container img {
    width: 300px; /* Adjust image size as needed */
    height: auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.cast-name {
    color: var(--text-color);
    font-size: 16px;
    margin-top: 10px;
}

#cast-container::-webkit-scrollbar {
    width: 10px;
}

#cast-container::-webkit-scrollbar-thumb {
    background: #fefe17; /* Your theme color */
    border-radius: 10px;
}

#cast-container::-webkit-scrollbar-track {
    background: #484848;
}



.director-member:first-child {
    margin-top: 0; /* Removes extra margin from the first cast member if any */
}



.director-image-container img {
    width: 300px; /* Adjust image size as needed */
    height: auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.director-name {
    color: var(--text-color);
    font-size: 16px;
    margin-top: 10px;
}

#director-container::-webkit-scrollbar {
    width: 10px;
}

#director-container::-webkit-scrollbar-thumb {
    background: #fefe17; /* Your theme color */
    border-radius: 10px;
}

#director-container::-webkit-scrollbar-track {
    background: #484848;
}